<div ng-controller="EditUserCtrl" ng-init="init()">
  <div cg-busy="{promise:userPromise,message:'Loading User...'}">
    <div cg-busy="{promise:updateUserPromise,message:'Saving Changes...'}">
      <div class="container">


        <h2>Edit Profile</h2>

        <form role="form" ng-submit="updateUser()">

          <div class="form-group">
            <label for="editFirstname">First Name</label>
            <input type="text" ng-model="user.firstname" name="firstname" id="editFirstname"
                   class="form-control" required>
        <span ng-show="form.firstname.$dirty && form.firstname.$error.required"
              class="help-block">First Name is required</span>
          </div>
          <div class="form-group">
            <label for="editSurname">Surname</label>
            <input type="text" ng-model="user.surname" name="surname" id="editSurname"
                   class="form-control" required>
        <span ng-show="form.surname.$dirty && form.surname.$error.required"
              class="help-block">Surname is required</span>
          </div>
          <div class="form-group">
            <label for="editPhone">Phone</label>
            <input type="text" ng-model="user.phone" name="phone" id="editPhone"
                   class="form-control" required>
        <span ng-show="form.phone.$dirty && form.phone.$error.required"
              class="help-block">Phone is required</span>
          </div>
          <div class="form-group">
            <label for="editEmail">Email</label>
            <input type="text" ng-model="user.email" name="email" id="editEmail"
                   class="form-control"  required>
        <span ng-show="form.email.$dirty && form.email.$error.required"
              class="help-block">Email is required</span>
            <span ng-show="form.email.$error.email" class="help-block">Invalid email address.</span>
          </div>
          <div class="form-group">
            <label for="editGradYear">Grad Year</label>
            <input type="text" ng-model="user.grad_year" name="grad_year" id="editGradYear"
                   class="form-control" required>
        <span ng-show="form.grad_year.$dirty && form.grad_year.$error.required"
              class="help-block">Graduation Year is required</span>
          </div>
          <div class="form-group">
            <label for="editJobs">Jobs</label>
            <input type="checkbox" ng-model="user.jobs" name="jobs" id="editJobs"
                   class="form-control">
          </div>
          <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-info" >Save</button>
            <button type="button" ng-click="backToUsers()" class="btn btn-default">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

