<div ng-controller="ShowUserCtrl" ng-init="init()">

  <div class="container">

    <h2>User Profile</h2>

    <table class="table">
      <th>First Name</th>
      <th>Surname</th>
      <th>Grad Year</th>
      <th>Phone</th>
      <th>Jobs</th>
      <th>Email</th>
      <tr>
        <td>{{user.firstname}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.grad_year}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.jobs}}</td>
        <td>{{user.email}}</td>

      </tr>
    </table>
    <button ng-click="editSelectedUser(user)" class="btn btn-info">Edit</button>
    <button ng-click="deleteSelectedUser(user)" class="btn btn-danger">Delete</button>
    <button type="button" class="btn btn-default" ng-click="backToUsers()">Cancel</button>

  </div>

</div>
