<div ng-controller="ShowUserCtrl" ng-init="init()">

  <div class="container">

    <button type="button" class="button button-default" ng-click="backToUsers()">Back to Users</button>

    <h2>User Profile</h2>

    <p>First Name: {{user.firstname}}</p>
    <p>Surname: {{user.surname}}</p>
    <p>Phone Number: {{user.phone}}</p>
    <p>Email: {{user.email}}</p>
    <p>Grad Year: {{user.grad_year}}</p>
    <p>Jobs: {{user.jobs}}</p>


  <button type="button" class="button button-default" ng-click="editUser()">Update User</button>

  </div>

</div>
