<div ng-controller="UsersCtrl" ng-init="initUsers()">

<div class="container">
  <h2>Users</h2>
  <button type="button" ng-click="createUser()">Create User</button>
  <p>Filter by Firstname: <input type="text" ng-model="nameFilter"></p>
    <table class = "table table-hover">
      <th>Firstname</th>
      <th>Surname</th>
      <th>Grad Year</th>
      <th>Phone Number</th>
      <th>Jobs</th>
      <th>Email Address</th>
      <tr ng-repeat="user in users| filter:nameFilter" ng-click="user.$selected = !user.$selected; openSelectedUser(user)"
          ng-class="{'active': user.$selected}">
        <td>{{ user.firstname }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.grad_year}}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.jobs }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </table>
</div>

</div>
