<div ng-controller="BroadcastsCtrl" ng-init="init()">
  <div cg-busy="{promise:broadcastsPromise,message:'Loading Broadcasts...'}">
    <div class="container">

      <h2>Broadcasts</h2>

      <button type="button" class="btn btn-primary" ng-click="newBroadcast()">New Broadcast</button></p>
      <table class = "table table-hover">
        <th>Date Sent</th>
        <th>Feeds</th>
        <tr ng-repeat="broadcast in broadcasts track by $index">
          <td>{{broadcast.created_at}}</td>
          <td><button ng-click="openSelectedBroadcast(broadcast)" class="btn btn-success">View</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

